form {
    margin-bottom: 5px;
}

.loader {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 100px;
    border: solid 1px #000;
    padding: 5px;
    display: none;
    background-color: #fff;
}

.add-forms {
    position:fixed;
    bottom: 0;
}

.add span {
    display: inline-block;
    width: 50px;
}
.add input[type=submit] {
    width: 80px;
}
.add-group input[type=submit]{
    background-color: #a3b0cc;
}
.add-item input[type=submit]{
    background-color: #c3e3b5;
}

.group {
    display: inline-block;
    border: solid 1px #000;
    list-style: none;
    padding: 10px;
    margin: 0 5px 5px 0;
    vertical-align: top;
    background-color: #a3b0cc;
}

.item {
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #000;
    padding: 8px;
    background-color: #c3e3b5;
}

h2 {
    margin: 0 0 5px;
    font-size: 16px;
}

.group-select {
    width: 150px;
}